* {
  box-sizing: border-box;
}

html,
body {
  margin: 2em;
  text-align: center;
  line-height: 1.5;
  background-color: #211d2b;
  background-image: radial-gradient(#23202b,#2e191f);
  color: white;
}

header {
  display: flex;
  align-items: center;
  Justify-content: space-between;
  margin-bottom: 2em;
  font-size: 2em;
}

img {
  width: 10rem;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2em;
}

label {
  margin-bottom: 0.5em;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
}

input,
button {
  padding: 0.5em;
  border: 1px solid white;
  margin-bottom: 2em;
  border-radius:  0.5em;
}

input {
  background-color: white;
}

input:focus{
  outline: none;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  font-size: inherit;
}

li > button {
  border: none;
}

button:hover {
  background-color: white;
  color: #282c34;
}

.notes-item {
  margin: 1.5em auto;
  padding: 1em;
  border: 1px solid white;
  border-radius: 0.5em;
  width: 80%;
}

.delete-button {
  margin-top: 1em;
  margin-bottom: 0;
  border: none;
}